.footer-text {
    text-align: center;
    margin-top: 24px;
    font-size: 13px;
    color: #888888;
}

.footer-link1 {
    color: #0065be;
    text-decoration: underline;
    cursor: pointer
}
.footer-link1:hover {
    color: rgba(0, 101, 190, 0.53);
}

.footer-link2 {
    color: #0065be;
    text-decoration: underline;
    cursor: pointer
}
.footer-link2:hover {
    color: rgba(0, 101, 190, 0.53);
}
